<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:replace="topo/head :: head"></head>

<body>

	<header th:replace="topo/topo :: header"> </header>

	<nav th:replace="menu/menu :: menu"> </nav>

	<main class="container mt-5" style="height: 600px">
		
		   <form method="post" th:action="@{/cliente}">
			
				<h6>Cadastro de cliente:</h6>
				
				<div class="container">
				
			  <div th:object="${clienteNovo}" > <!--Div cliente -->	
			  
				  <div class="row">
					  
				    <div class="col">				  
					  <label for="nome" class="form-label">Nome</label>
				 	  <input type="text" class="form-control" id="nome" th:field="*{nome}">
				  	</div>
				  	
				    <div class="col">
					  <label for="telefone" class="form-label">Telefone</label>
				 	  <input type="tel" class="form-control" id="telefone" th:field="*{telefone}">
					</div>
					
				  </div>
				  
				  <div class="row mt-3">
					  
				    <div class="col">				  
					  <label for="data" class="form-label">Data de Nascimento</label>
				 	  <input type="date" class="form-control" id="data" th:field="*{dataNascimento}">
				  	</div>
				  	
				    <div class="col">
					  <label for="ativo" class="form-label"> Situação </label>
					  <select class="form-select" th:field="*{ativo}">
						<option value="1" selected>Ativo</option>
						<option value="0">Inativo</option>
					  </select>					  
		 	  
					</div>
					
				  </div>
				  
				</div>	<!--Fim da Div cliente -->
				
			 <div th:object="${enderecoNovo}" > <!--Div Endereco -->
			 
				  <div class="row mt-3">
					  
				    <div class="col">				  
					  <label for="rua" class="form-label">Rua</label>
				 	  <input type="text" class="form-control" id="rua" th:field="*{lograduro}">
				  	</div>
				  	
				    <div class="col">				  
					  <label for="numero" class="form-label">Numero</label>
				 	  <input type="text" class="form-control" id="numero" th:field="*{numero}">
				  	</div>
					
				  </div>

				  <div class="row mt-3">
					  
				    <div class="col">				  
					  <label for="bairro" class="form-label">Bairro</label>
				 	  <input type="text" class="form-control" id="bairro" th:field="*{bairro}">
				  	</div>
				  	
				    <div class="col">				  
					  <label for="comple" class="form-label">Complemento</label>
				 	  <input type="text" class="form-control" id="comple" th:field="*{complemento}">
				  	</div>
					
				  </div>

			</div><!--Fim da Div Endereco -->
			
			<div th:object="${cidadeNovo}" > <!--Div Cidade -->
					
					<div class="col">				  
					  <label for="cidade" class="form-label">Cidade</label>
				 	  <input type="text" class="form-control" id="cidade" th:field="*{nomeCidade}">
				  	</div>
				
			</div>
			
			<div th:object="${estadoNovo}" > <!--Div Cidade -->
				    <div class="col">				  
					  <label for="estado" class="form-label">Estado</label>
				 	  <input type="text" class="form-control" id="estado" th:field="*{nomeEstado}">
				  	</div>			
				
			</div>
				
				  <div class="row">
					  
					  <div class="col-4 mt-3">
					      <button type="submit" class="btn btn-primary">Salvar</button>
						  <a th:href="@{/cliente}" class="btn btn-primary"> Voltar </a>					        
					  </div>
				  
				  </div>
				  
		    </div>
		    							
			</form>			

		<!--Fim da ROW -->
	</main>

	<footer th:replace="rodape/rodape :: rodape"> </footer>

</body>

</html>