<!-- Menu Lateral -->

<aside th:fragment="menulateral" class="col-sm-4">

	<h5>Acesso rápido</h5>

	<ul class="nav nav-pills flex-column">
		<li class="nav-item">
			<a class="nav-link" href="/" id="n1" onmouseover="marcar(this.id)" onmouseout="marcar(this.id)">Home</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/cliente" id="n2" onmouseover="marcar(this.id)" onmouseout="marcar(this.id)">Clientes</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/" id="n3" onmouseover="marcar(this.id)" onmouseout="marcar(this.id)">Produtos</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/" id="n4" onmouseover="marcar(this.id)" onmouseout="marcar(this.id)">Vendas</a>
		</li>

	</ul>
</aside>
