<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:replace="topo/head :: head"></head>

<body>

	<header th:replace="topo/topo :: header"> </header>

	<nav th:replace="menu/menu :: menu"> </nav>

	<main class="container mt-5" style="height: 600px">
		
		<!--Inicio da ROW com o conteudo centralizado -->
		<row class="d-flex justify-content-center">
			
			<div class="col-sm-12">
				
					<!-- conteudo aqui -->
					
			</div>	

		</row>
		<!--Fim da ROW -->
	</main>

	<footer th:replace="rodape/rodape :: rodape"> </footer>

</body>

</html>